<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  {% load static %}
  <style>
    .fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      cursor: zoom-out;
    }

    .report-image{
        cursor: zoom-in;
    }
    </style>
    
</head>
<body>
  <!-- Your content goes here -->

<!-- HTML -->
<img src="{% static 'superuser/media/carman.jpeg' %}" class="report-image" onclick="toggleFullScreen(this)" />

<!-- JavaScript -->
<script>
    function toggleFullScreen(img) {
        if (img.classList.contains('fullscreen')) {
          img.classList.remove('fullscreen');
          img.classList.add('report-image');
          document.removeEventListener('keydown', exitFullScreen);
        } else {
          img.classList.add('fullscreen');
          img.classList.remove('report-image');
          document.addEventListener('keydown', exitFullScreen);
        }
      }
      
      function exitFullScreen(event) {
        if (event.key === 'Escape') {
          const img = document.querySelector('.fullscreen');
          if (img) {
            img.classList.remove('fullscreen');
            document.removeEventListener('keydown', exitFullScreen);
          }
        }
      }
</script>



</body>
</html>
