{% extends 'hospital/base.html' %}
{% load static %}



{% block content %}

        <div id="loader"></div>

        <div class="form-body" id="forbid">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <h3 class="text-center mb-4" >Upload Image</h3>
        
                            <form class="" action="" method="post" enctype="multipart/form-data" data-link-url="{% url 'hospital:ajax_load_link' %}">
        
                                {% csrf_token %}
                               

                                {% if available_slots > 0 %}

                                <div class="input-group mt-3">
                                    <label class="input-group-text" for="logo">Patient name</label>
                                    <input class="form-control" type="text" id="patient_name" name="patient_name"  placeholder="Enter patient name...">
                                 </div>
                                
                                 <div class="input-group mt-3">
                                    <label class="input-group-text" for="logo">Patient type</label>
                                    <input class="form-control" type="text" id="patient_type" name="patient_type"  placeholder="Enter patient type...">
                                 </div>
                                 
                                 <div class="input-group mt-3">
                                    <label class="input-group-text" for="logo">Patient age</label>
                                    <input class="form-control" type="text" id="patient_age" name="patient_age"  placeholder="Enter patient age...">
                                 </div>
                                 
                                 <div class="input-group mt-3">
                                    <label class="input-group-text" for="logo">Patient number</label>
                                    <input class="form-control" type="tel" id="patient_number" name="patient_number"  placeholder="Enter patient number...">
                                 </div> 

                                 <div class="input-group mt-3">
                                    <label class="input-group-text" for="logo">Upload Image</label>
                                    <input class="form-control" type="file" title="Upload echocardiogram image/file" id="image" name="image" accept="image/*, .pdf, .doc, .docx" required>

                                 </div>

                                 <h6 class="mt-3">Total slots: {{ available_slots }}</h6>
                                 {% else %}
                                 <p>You do not have enough slot(s) to upload images/files.</p>
                                 {% endif %}
                                 


                                 
                                  <div class="mt-3 text-center">
                                    
                                    <a onclick="window.history.go(-1); return false;"><button type="button" class="btn btn-primary btn-sm mr-3" >Back</button></a>

                                    {% if available_slots > 0 %}
                                    <button type="submit" class="btn btn-sm ml-3" style="background-color: #006c40; color: #fff">Submit</button>
                                    {% else %}
                                    <a href="{% url 'hospital:purchaseSlot' %}"><button type="button" class="btn btn-sm ml-3" style="background-color: #006c40; color: #fff" >Purchase Slots</button></a>
                                    {% endif %}
                                </div>
                                


                            </form>
        
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
{% endblock %}

{% block script %}

<script>

    function proceedToPayment() {

            const email = document.getElementById('email').value;
            const slots = document.getElementById('slots').value;
            const amount = document.getElementById('amount').value;


            const baseUrl = 'https://ecgreportscenter.live';
            const form = document.getElementById('slot-form');
            const url = baseUrl + form.getAttribute('data-link-url');


            var info = {
              email: email,
              slots: slots,
              amount: amount,
            };
          
            info = JSON.stringify(info)

            var csrf = document.querySelector('input[name=csrfmiddlewaretoken]').value;




            if(confirm("Are you sure you want to proceed to payment?")){

               document.getElementById("loader").style.display = "block";
               document.getElementById("forbid").style.display = "none";

               $.ajax({
                url: url,
                method: "POST",
                data: {
                    info,
                    csrfmiddlewaretoken: csrf
                },
                success: function(data) {
                    console.log(data);
                    window.location.href = data;
                },
                error: function(xhr, status, error) {
                    console.error("Request failed:", status, error);
                    alert("An error occurred. Please try again.");

                    document.getElementById("loader").style.display = "none";
                    document.getElementById("forbid").style.display = "block";
                }
            });
                  

            }
            
   
        
    }
</script>

{% endblock %}